* {
    margin: 0;
    padding: 0;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
    background-color: #16161e;
    margin: 0;
    padding: 0;
}

iframe {
    border-radius: 15px;
    @media only screen and (max-width: 600px) {
        border-radius: 0px;
        height: 100% !important;
    }
}

input:-internal-autofill-selected {
    background-color: rgba(0, 0, 0, 0) !important;
    font-size: 16px;       
}

.input-login {
    background-color: rgba(0, 0, 0, 0) !important;
    font-size: 16px;       
}

.input-login:active {
    background-color: rgba(0, 0, 0, 0) !important;
}